
* {
  margin: 0:;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Raleway', sans-serif;
}

.logo {
  background: #000;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.graficlogo {
  padding: 5px;
  max-width: 100%
}



.icon {
  display: none;
}
.menu a:hover {
  border-bottom: 2px solid #000;
}

  .content{
  margin-top: 3%;
  background: #F8F8FF;
  }
  .content-text{
   
  }

  .content-title {
    color:black;
    font-weight: 100;
    margin: auto;
    text-align: center;
    top: 10px;
   
  }
  .content-text{
    background: #F8F8FF;
 width: 1000px;
 height: auto;
 margin: auto;
 text-align: left;
 font-size: 20px;
 border: 2px black;
}
.content-text h1 {
  text-align: center;
}

footer {
  width:100%;
  height:auto;
  background:#696969;
  margin: 0 auto;
  text-align:center;
   padding-top:5px;
 
  
}
footer a {
  color:white;
  font-size:14px;
  margin-left:10px;
  text-decoration: none;
  
}/*
footer nav a: hover{
  border-bottom: 1px solid white;

}*/
footer {
  width:100%;
  height:auto;
  background:#696969;
  margin: 0 auto;
  text-align:center;
   padding-top:5px;
 
  
}
footer a {
  color:white;
  font-size:14px;
  margin-left:10px;
  
}
footer nav a: hover{
  border-bottom: 1px solid white;
}
.social a img{
  border-radius: 50px;
}
*, *::after, *::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
}
#mainmenu {
position: relative;
background: #444444;
height: auto;
margin: 0px 0;
padding: 0;
float: left;
width: 100%;
z-index: 10;

}
#mainmenu ul {
clear: left;
position: relative;
right: 50%;
height: 40px;
float: right;
text-align: center;
font: 15px Arial, Helvetica, sans-serif;
list-style: none;
padding: 0;
margin: 0;
}

/** Основне меню **/
#mainmenu > ul > li {
position: relative;
left: 50%;
float: left;
height: 40px;
padding: 0;
margin: 0;

}
#mainmenu > ul > li > a {
border-left: 1px solid #666;
display: block;
color: #fff;
text-decoration: none;
padding: 0 20px;
line-height: 40px;

}
#mainmenu > ul > li:first-child > a {
border: none
}
#mainmenu > ul > li:hover > a, #mainmenu > ul > li.hover > a, #mainmenu > ul > li.active > a {
color: #fff
}
#mainmenu > ul > li:hover, #mainmenu > ul > li.hover, #mainmenu > ul > li.active {
background: #666
}

/* випадаюче меню */
#mainmenu ul li ul {
position: absolute;
left: 0;
top: 40px;
display: none;
list-style: none;
visibility: hidden;
padding: 0;
margin: 0;
width: 200px
}
#mainmenu > ul > li ul li {
background-color: #666;
position: relative;
left: 0;
display: list-item;
float: none;
height: auto;
margin: 0;
text-align: left;
}
#mainmenu ul li ul li a {
border-bottom: 1px solid #999;
display: block;
color: #fff;
padding: 10px 15px;
text-decoration: none;
}
#mainmenu ul li ul li.parent a {
position: relative;
}
#mainmenu ul li ul > li.parent > a::before {
border-top: 1px solid #fff;
border-right: 1px solid #fff;
content: "";
display: block;
position: absolute;
right: 15px;
top: 50%;
transform: translateY(-50%) rotate(45deg);
height: 6px;
width: 6px;
}
#mainmenu ul li ul li:hover, #mainmenu ul li ul li.hover {
background-color: #444
}
#mainmenu ul li:hover ul, #mainmenu ul li.hover ul {
display: block
}

/* Выпадающие пункты второго уровня */
#mainmenu ul li:hover > ul {
opacity: 1;
visibility: visible;
margin: 0;
}
#mainmenu ul li ul li ul {
top: 0;
left: 200px;
margin: 0 0 0 20px;
width: 180px
}
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    margin-top: -17px;
    display: block;
    color: black;
  }
  nav {
    width: 100%;
    height: 100px;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
    }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }



  @media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    margin-top: -17px;
    display: block;
    color: black;
  }
  nav {
    width: 100%;
    height: 100px;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

*
